.header .site-meta .site-title {
  font-weight: normal;
  letter-spacing: 1px;
}

.header .sidebar-toggle {
  bottom: 49px;
}

.back-to-top.back-to-top-on {
  bottom: 23px;
}

.footer {
  padding: 30px 0;
}

.footer .beian > a:not(:last-child) {
  margin-right: 10px;
}

.footer .with-love {
  display: none;
}
