$text-color = $black-dim;
$text-color-dark = $grey;

$body-bg-color = #e5e7eb;

$box-shadow-inner = 0 4px 6px -1px rgba(0, 0, 0, 0.03), 0 2px 4px -1px rgba(0, 0, 0, 0.02);
$box-shadow = $box-shadow-inner;
